.contenedor{
    width: 70%;
    min-height: 400px;
    margin: 50px auto;
    display: flex;
    border: 4px solid rgb(0, 0, 0);
}
.contenedor .derecha{
    background: rgb(37, 89, 233);
    width: 50%;
    text-align: center;
}
.contenedor .izquierda{
    background: rgb(32, 240, 178);
    width: 50%;
    text-align: center;
}
.izquierda h2{
    color: aliceblue;


}
.derecha h2{
    color: brown;
}
.derecha #figura{
    width: 180px;
    height: 180px;
    margin: 30px auto;
    background: black;
}
.izquierda button{
    border: 2px solid rgb(43, 248, 255);
    background: #fff;
    color: rgb(7, 7, 7);
    padding: 8px 24px;
    font-size: 20px;
    margin: 10px;
    transition: .4s;
    cursor: pointer;
}
.izquierda button:hover{
    border-radius: 10px 0 10px 0;
    background: rgb(32, 92, 255);
    color: #fff;

}
#figura.circulo{
    border-radius: 50%;
    transform: rotate(-360deg);
    transition: 1s;
    background: rgb(57, 255, 255);
}
#figura.rombo {
    width: 100px; 
    height: 100px; 
    border: 3px solid rgb(0, 0, 0); 
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: 1s;
    transform: rotate(45deg);
}
#figura.arriba{
    transform: translateY(-100px);
    transition: 1s;
}
#figura.top{
    transform: translateY(-100px);
    transition: 1s;
    background: #ffffff;
    border:4px solid #000000;
}

#figura.Left{
    transform: translateX(-120px);
    transition: 1s;
    background: #ffffff;
    border:4px solid #000000; 
}

#figura.Butom{
    transform: translateY(100px);
    transition:1s;
    background:#ffffff;
    border: 4px solid #000000;
}

#figura.Right{
    transform: translateX(100px);
    transition: 1s;
    background: #ffffff;
    border:4px solid #000000;
}

#figura.triangulo{
    width: 0;
    height: 0;
    border: transparent; 
    background: transparent;
    transition: 1s;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid lightblue;
    transform: rotate(0deg);
}


#figura.DiagonalIzSup {

    transform: translate(-100px, -100px);
    transition: 1s;
    background:#ffffff;
    border: 4px solid #000000; 
  }

#figura.DiagonalDeInf {
    transform: translate(100px, 100px);
    transition: 1s;
    background:#ffffff;
    border: 4px solid #000000; 
}
#gif{
    display: none;
}

#figura.oval {
    width: 250px;
    height: 100px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background: #5cb85c;
    border: 3px solid #555;
}

#figura.ribbon {
    width: 0px;
    height: 120px;
    border-left: 50px solid #5ad94f;
    border-right: 50px solid #5fd94f;
    border-bottom: 35px solid transparent;
    background: transparent;
}

